@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/generalDesign.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="preloader">
        <p>@Tips.RandomTip()</p>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(30, 51, 45)">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img href="/Home/Index/" src="/images/caticowhite.png" width="30" height="30" alt="">
                </a>
                <a class="navbar-brand font-weight-bold text-light" asp-area="" asp-controller="Home" asp-action="Index">
                    smartsaver
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (Context.Request.RouteValues.ContainsKey("name"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Dashboard" asp-action="Index" asp-route-name="@Context.Request.RouteValues["name"].ToString()">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Transactions" asp-action="Index" asp-route-name="@Context.Request.RouteValues["name"].ToString()">Account history</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Account" asp-action="Index" asp-route-name="@Context.Request.RouteValues["name"].ToString()">My Accounts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Account" asp-action="Complete" asp-route-name="@Context.Request.RouteValues["name"].ToString()">Set Goal</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Account" asp-action="Index">My Accounts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Account" asp-action="Complete">Set Goal</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Authentication" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Authentication" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-light" asp-area="" asp-controller="Authentication" asp-action="Logout">Sign out</a>
                }
            </div>
        </nav>
    </header>

    @await RenderSectionAsync("Jumbotron", required: false)
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #0e1714;">
        <div class="container" style="color:white;">
            &copy; 2020 - SmartSaver by MIAUsoft
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>
