@model cloudscribe.Pagination.Models.PagedResult<TransactionViewModel>
@{
    ViewData["Title"] = "Transactions";
    ViewData["Controller"] = "Transactions";
    ViewData["Action"] = "Index";

    var currencySymbol = System.Globalization.RegionInfo.CurrentRegion.CurrencySymbol;
    var balance = Model.Data.Select(s => s.Transactions).FirstOrDefault().Sum(t => t.Amount);
}

<head>
    <title>@ViewBag.Title</title>
    <script src="~/js/views/transactions/index.js"></script>
</head>


@section Jumbotron
{
    <div class="jumbotron jumbotron-fluid mb-5 bg-dollar bg-top">
        <div class="container">
            <h5 class="text-light" style="text-transform: uppercase; letter-spacing: 4px"><b>Balance</b></h5>
            <span class="badge badge-pill badge-dark"><b class="display-4" style="font-size:27px;"> @balance.ToString("C2")</b></span>
        </div>
    </div>
}

<div class="btn-group btn-block" role="group" aria-label="Basic example">
    <button style="border-radius: 0" type="button" class="btn btn-sm btn-danger shadow-none" data-toggle="modal" data-target="#addSpendingModal">Add Spending &#128556;</button>
    <button style="border-radius: 0" type="button" class="btn btn-sm btn-success shadow-none" data-toggle="modal" data-target="#addIncomeModal">Add Income &#129297;</button>
</div>

<!-- Modal [Add Spending] -->
<div class="modal fade" id="addSpendingModal" tabindex="-1" role="dialog" aria-labelledby="addSpendingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add spending &#128556;</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Transactions" asp-action="Create" asp-route-name="@Context.Request.RouteValues["name"].ToString()" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Amount</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="spending" name="Amount" />
                            <div class="input-group-append">
                                <span class="input-group-text">@currencySymbol</span>
                            </div>
                        </div>
                        <span id="spendingStatus"></span>
                    </div>
                    <div class="form-group">
                        <label>Spending category</label>
                        <select class="form-control" id="CategoryId" name="CategoryId">
                            <!-- Category -->
                            @foreach (var c in Model.Data.Select(c => c.Categories).FirstOrDefault())
                            {
                                @if (!c.TypeOfIncome)
                                {
                                    <option value="@c.Id">
                                        @c.Title
                                    </option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Choose date</label>
                        <div class="date-input input-group">
                            <input type="date" class="form-control" name="ActionTime" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="spendingButton" class="btn btn-success" type="submit">ADD SPENDING</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal [Add Income] -->
<div class="modal fade" id="addIncomeModal" tabindex="-1" role="dialog" aria-labelledby="addIncomeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addIncomeModalLabel">Add Income &#129297;</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Transactions" asp-action="Create" asp-route-name="@Context.Request.RouteValues["name"].ToString()" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Amount</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="income" name="Amount" />
                            <div class="input-group-append">
                                <span class="input-group-text">@currencySymbol</span>
                            </div>
                        </div>
                        <span id="incomeStatus"></span>
                    </div>
                    <div class="form-group">
                        <label>Spending category</label>
                        <select class="form-control" name="CategoryId">
                            <!-- Category -->
                            @foreach (var c in Model.Data.Select(c => c.Categories).FirstOrDefault())
                            {
                                @if (c.TypeOfIncome)
                                {
                                    <option value="@c.Id">
                                        @c.Title
                                    </option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Choose date</label>
                        <div class="date-input input-group">
                            <input type="date" class="form-control" name="ActionTime" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="incomeButton" class="btn btn-success" type="submit">ADD INCOME</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal [Generate PDF] -->
<div class="modal fade" id="generatePdf" tabindex="-1" role="dialog" aria-labelledby="generatePdfLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generatePdfLabel">Generate a summary of your spendings 🖨️</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Transactions" asp-action="CreatePDF" asp-route-name="@Context.Request.RouteValues["name"].ToString()" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <small class="form-text text-muted">FROM DATE</small>
                        <div class="date-input">
                            <input type="date" id="fromDate" name="fromDate" class="form-control" required>
                        </div>
                        <span id="fromStatus"></span>
                    </div>
                    <div class="form-group">
                        <small class="form-text text-muted">TO DATE</small>
                        <div class="date-input">
                            <input type="date" id="toDate" name="toDate" class="form-control" required>
                        </div>
                        <span id="toStatus"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="pdfButton" class="btn btn-info" type="submit">GENERATE PDF</button>
                </div>
            </form>
        </div>
    </div>
</div>


<table class="table table-hover table-bordered mb-0">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Data.Select(s => s.Transactions).FirstOrDefault())
        {
            <tr class="@(t.Category.TypeOfIncome ? "table-success" : "")">
                <td>@t.ActionTime.ToShortDateString()</td>
                <td>@t.Amount.ToString("C2")</td>
                <td>@t.Category.Title</td>
            </tr>
        }

    </tbody>
</table>

<div class="row">
    <div class="col-8">
        <button style="border-radius: 0" type="button" class="btn btn-sm btn-info shadow-none" data-toggle="modal" data-target="#generatePdf">Generate Resume (PDF) 🖨️</button>
    </div>
    <div class="col-4 d-flex flex-row-reverse">
        <partial name="_PaginationPartial" view-data="ViewData" model="Model" />
    </div>
</div>
