@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TransactionViewModel

<h2 class="mb-3 mt-5">All transactions of all people</h2>
<div class="card card-outline-secondary mb-5">
    <div class="card-body">
        <h5>Spending</h5>
        <hr>
        <form autocomplete="off" role="form" asp-controller="Transactions" asp-action="Create" method="POST">
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Spending category</label>
                    <select class="form-control" id="CategoryId" name="CategoryId"> <!-- Category -->
                        @foreach (var c in Model.Categories)
                        {
                            <option value="@c.Id">
                                (@c.Id) @c.Title
                            </option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Amount</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="Amount" name="Amount"> <!-- Amount -->
                        <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Select operation</label>
                    <select class="form-control" id="Operation" name="Operation">
                        <option>
                            Spending
                        </option>
                        <option>
                            Income
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>&zwnj;</label>
                    <button class="btn btn-success btn-block" type="submit">most important button</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">Time</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model.Transactions)
    {
        <tr>
            <td>@t.ActionTime.ToShortDateString()</td>
            <td>@Math.Round(t.Amount, 2) €</td>
            <td>@t.Category.Title</td>
        </tr>
    }
    </tbody>
</table>