@using SmartSaver.Domain.Services.TransactionsCounterService

@model TransactionViewModel
@{
    ViewData["Title"] = "Transactions";

    var currencySymbol = System.Globalization.RegionInfo.CurrentRegion.CurrencySymbol;
    var balance = Model.Transactions.Sum(t => t.Amount);
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/generalDesign.css" />
</head>

@section Jumbotron 
{
    <div class="jumbotron jumbotron-fluid mb-5 bg-dollar bg-top">
        <div class="container">
            <h5 class="text-light" style="text-transform: uppercase; letter-spacing: 4px"><b>Balance</b></h5>
            <span class="badge badge-pill badge-dark"><b class="display-4" style="font-size:27px;"> @balance.ToString("C2")</b></span>
        </div>
    </div>
}

<div class="btn-group btn-block" role="group" aria-label="Basic example">
    <button style="border-radius: 0" type="button" class="btn btn-sm btn-danger shadow-none" data-toggle="modal" data-target="#addSpendingModal">Add Spending &#128556;</button>
    <button style="border-radius: 0" type="button" class="btn btn-sm btn-success shadow-none" data-toggle="modal" data-target="#addIncomeModal">Add Income &#129297;</button>
</div>

<!-- Modal [Add Spending] -->
<div class="modal fade" id="addSpendingModal" tabindex="-1" role="dialog" aria-labelledby="addSpendingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add spending &#128556;</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Transactions" asp-action="Create" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Amount</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="Spending" name="Amount" />
                            <div class="input-group-append">
                                <span class="input-group-text">@currencySymbol</span>
                            </div>
                        </div>
                        <span id="SpendingStatus"></span>
                    </div>
                    <div class="form-group">
                        <label>Spending category</label>
                        <select class="form-control" id="CategoryId" name="CategoryId">
                            <!-- Category -->
                            @foreach (var c in Model.Categories)
                            {
                                @if (!c.TypeOfIncome)
                                {
                                    <option value="@c.Id">
                                        @c.Title
                                    </option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Choose date</label>
                        <div class="date-input input-group">
                            <input type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id ="SpendingButton" class="btn btn-success" type="submit">ADD SPENDING</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal [Add Income] -->
<div class="modal fade" id="addIncomeModal" tabindex="-1" role="dialog" aria-labelledby="addIncomeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addIncomeModalLabel">Add Income &#129297;</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Transactions" asp-action="Create" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Amount</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="Income" name="Amount" />
                            <div class="input-group-append">
                                <span class="input-group-text">@currencySymbol</span>
                            </div>
                        </div>
                        <span id="IncomeStatus"></span>
                    </div>
                    <div class="form-group">
                        <label>Spending category</label>
                        <select class="form-control" id="CategoryId" name="CategoryId">
                            <!-- Category -->
                            @foreach (var c in Model.Categories)
                            {
                                @if (c.TypeOfIncome)
                                {
                                    <option value="@c.Id">
                                        @c.Title
                                    </option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Choose date</label>
                        <div class="date-input input-group">
                            <input type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id ="IncomeButton" class="btn btn-success" type="submit">ADD INCOME</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal [Generate PDF] -->
<div class="modal fade" id="generatePdf" tabindex="-1" role="dialog" aria-labelledby="generatePdfLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generatePdfLabel">Generate a summary of your spendings 🖨️</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Transactions" asp-action="CreatePDF" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <small class="form-text text-muted">FROM DATE</small>
                        <div class="date-input">
                            <input type ="date" name="FromDate" class="form-control">
                        </div>
                        <span id="FromStatus"></span>
                    </div>
                    <div class="form-group">
                        <small class="form-text text-muted">TO DATE</small>
                        <div class="date-input">
                            <input type="date" name="ToDate" class="form-control">
                        </div>
                        <span id="ToStatus"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="PdfButton" class="btn btn-info" type="submit">GENERATE PDF</button>
                </div>
            </form>
        </div>
    </div>
</div>


<table class="table table-hover table-bordered mb-0">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Amount</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Transactions)
        {
            <tr class="@(t.Category.TypeOfIncome ? "table-success" : "")">
                <td>@t.ActionTime.ToShortDateString()</td>
                <td>@t.Amount.ToString("C2")</td>
                <td>@t.Category.Title</td>
            </tr>
        }

    </tbody>
</table>
<nav>
    <button style="border-radius: 0" type="button" class="btn btn-sm btn-info shadow-none" data-toggle="modal" data-target="#generatePdf">Generate Resume (PDF) 🖨️</button>
</nav>


<script>
    const spendingStatus = document.getElementById('SpendingStatus');
    const incomeStatus = document.getElementById('IncomeStatus');
    const spending = document.getElementById('Spending');
    const income = document.getElementById('Income');
    const fromDate = document.getElementsByName('FromDate')[0];
    const toDate = document.getElementsByName('ToDate')[0];
    const fromStatus = document.getElementById('FromStatus');
    const toStatus = document.getElementById('ToStatus');

    document.getElementById("SpendingButton").onclick = function () {
        if (!checkInputs(spending.value, spendingStatus)) {
            return false;
        }
    }

    document.getElementById("IncomeButton").onclick = function () {
        if (!checkInputs(income.value.trim(), incomeStatus)) {
            return false;
        }
    }

    document.getElementById("PdfButton").onclick = function () {
        $(fromStatus).html("");
        $(toStatus).html("");
        if (!checkDate(fromDate.value, toDate.value, fromStatus, toStatus)) {
            return false;
        }
    }

    function checkInputs(value, status) {
        if (value === '') {
            setError(status, "Amount cannot be blank");
        } else if (!isNumber(value)) {
            setError(status, "Please provide numbers only without any signs");
        } else {
            return true;
        }
    }

    function checkDate(from, to, fromStatus, toStatus) {
        if (from === '') {
            setError(fromStatus, "Please pick a date");
        } if (to === '') {
            setError(toStatus, "Please pick a date");
        } else if (from > to) {
            setError(toStatus, "Invalid date selection");
        } else {
            setError(toStatus, "");
            return true;
        }
    }

    function setError(status, message) {
        $(status).html('<font color="Red">' + message + '</font>');
    }

    function isNumber(amount) {
        return /^(0*[1-9][0-9]*(\,[0-9]+)?|0+\,[0-9]*[1-9][0-9]*)$/.test(amount);
    }
</script>
